
#contain{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    grid-template-rows: 140px 1fr;
    grid-template-areas: 
    'header header'
    'left right'
    ;
    
}

header{
    grid-area: header;
}

main{
    position: relative;
    grid-area: right;
  
}
.srOnly{
    background-color: purple;
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}
input{
    margin: 20px auto;
}
.ou{
    margin: 35px 0px;
}
h2{
    max-width: 300px
}
.button{
    margin: 20px 0;
}
