:root{
    --black: #0d114f;
    --white: #fafafa;
    --red: #e83f5b;
    --lighy-blue: #e0ecff;
    --blue: #3485ff;
    --blue-light2: #E1ECFF;
    --background: #f6faff;
    --overlay: #040911;
    --icons-details: #a5b0c1;

    --grey-dark: #4d5e77;
    --grey-blue: #a1b2cd;
    --grey-light: #e5eaf1;
    --grey-medium: #eaecf2;
    --titleFont:  'Poopins',Arial, Helvetica, sans-serif;
    --textFont:  'Open Sans',Arial, Helvetica, sans-serif;
}
body{
    font-size: 62.5%;
}
#room{
    width: 80%;
    margin: 0 auto;
    max-width: min(112rem, 90%);
 

}
/*header=======================*/
/*button and button=========*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons{
    display: flex;
}

button, .button{
    width: 160px;
    height: 45px;
    font-size: 1.8em
   
}
button{
    width: 180px;
    margin-left: 1.1em;
   
   
}
.button{
    border-width: 0.13em;
}
.button > img{
    left: 0.5em
}
/*button and button===============*/

/*question-form (*)=====================*/

#question-form{
    margin-top: 5em
}
#question-form h2{
    font-size: 2.6em;
    margin-bottom: 24px;
   
}
#question-form form{
    padding: 10px;
    border-radius: 0px 8px 8px 8px
}
#question-form form{
    width: 100%;
    background-color: var(--background);
    border: .13em solid var(--grey-light);
    font-size: 1.2em;
    font-family: var(--textFont);
    padding: 16px
}
#question-form form textarea{
    width: 100%;
    resize: none;
    font-family: var(--textFont);
    background: transparent;
    font-size: 1.5em;
}
#question-form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-form form footer{
    display: flex;
    justify-content: space-between;
}
#question-form form footer button {
    position: relative;
  
    width: 100px;
    height: 35px;
    font-size: 1.6em
}
#question-form form footer > div{
    display: flex;
    align-items: center;
    color: var(--icons-details);
    font-size: 1.1em;
    font-family: 'Open Sans', 'sans', Arial, Helvetica, sans-serif;
}

/*question-form (*)=====================*/

/*communityQuestions(*)=================*/
#communityQuestions > .card:nth-of-type(1){
    margin-top: 1.4em
}
#communityQuestions > .card{
    background-color: var(--lighy-blue);
    padding: 16px;
    font-size: 1.6em;
    font-family: var(--titleFont);
    border-radius: 0px 8px 8px 8px;
    margin-top: 0.8em
}
#communityQuestions > .card .usser{
    display: flex;
    align-items: flex-start;
}
#communityQuestions > .card .usser span{
    display: inline-block;
    word-break: keep-all;
    align-items: center;
    min-height: 54px ;
    display: flex;
    font-family: 'Poppins';
    font-size: 1em;
    line-height: 2.3em;
    margin-left: 0.3em;
}

#communityQuestions > .card .actions{
   
  
}

#communityQuestions > .card .actions{
    display: flex; 
    justify-content: flex-end;
}


#communityQuestions > .card .usser img{
    background-color: var(--blue);
    clip-path: circle();
    padding: 14px;
    margin-right: 1em;
}



#communityQuestions > .card .actions > div a{
    display: flex;
    align-items: center;
    color: var(--grey-dark);
    margin-right: 15px
    
}
#communityQuestions > .card .actions > div a img {
    margin-right: 0.3em;
    
}


/*communityQuestion read===================*/

#communityQuestions > .card.read{
    background-color: var(--grey-medium)
}
#communityQuestions > .card.read .usser img{
    background: var(--grey-blue);
    
}
/*communityQuestion read============*/

/* modalOverlay=================== */
#modalOverlay{
    background-color: #000010ab;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;


}
#modal{
    background-color: var(--white);
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    text-align: center;

}
#modal #aswer{
    display: inline-block;
    margin: 25px auto 15px auto;
}
#modal #aswer h2{
    margin-bottom: 15px
}
#modal #aswer p{
    font-size: 1.8em;
    margin-bottom: 40px;
    font-family: 'Open Sans';
}
#modal #aswer input{
    display: inline-block;
    height: 4.4em;
    border-width: 0.2em;
}



#modal #actionsModal{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#modal #actionsModal button:nth-of-type(1){
    background-color: var(--grey-light);
    color: var(--black);
    
}
#modal #actionsModal button:nth-of-type(2){
    background-color: var(--red);
    margin-left: 0.4em;
}





