    /* modalOverlay=================== */
.modalOverlay{
    background-color: rgba(4, 8, 14, .8);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;


}
.modalOverlay.disable{
    display: none;
}
#modal{
    background-color: var(--white);
    padding: 3em;
    width: min(600px,90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8em;
    filter: drop-shadow(3px -1px 1px rgba(36, 5, 5, 0.336));

}
 #modal #aswer{
     text-align: center;
    
}

#modal #aswer h2{
    margin: 30px 0px 12px 0px ;
    font-family: var(--titleFont);
}
#modal #aswer p{
    font-size: 1.8em;
    margin-bottom: 24px;
    font-family: 'Open Sans';
}




 #modal #actionsModal{
    display: grid;
    
    grid-template-rows: 1fr 1fr;
    white-space: none;
    gap: 1.2em;
    grid-template-areas: 
    'top top';

    
}
#modal #actionsModal input{
    grid-area: top;
    padding: 13px 16px;
    margin: 0px auto 20px auto;
    font-size: 2.1em;
    height: 1.8em;
    border-width: 0.09em;
    color: var(--black);

} 

#actionsModal input::placeholder{
    position: static;
}
#modal #actionsModal button{
    margin: 0px;
}
#modal #actionsModal .button.cancel{
    border: none;
    background-color: var(--grey-light);
    color: var(--black);
    
}
#modal #actionsModal button:nth-of-type(1){
    background-color: var(--red);
    border: none;
   
}